<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-end">
          <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/login">Log Out</a></button>
        </form>
      </nav>
    <div class="container">
      <div class="row">
        <h1 class="col text-center">Air Quality Monitor</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              Temperature
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= temperature  %> Celcius</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              Humidity
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= humidity %>%</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              PM
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= pm %> μg/m3</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              Carbon Dioxide
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= carbonDioxide %> PPM</h4>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    
</body>
</html>