<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
      <div class="container">
        <div class="row">
          <h1 class="col text-center">Register</h1>
        </div>
        <div class="row">
          <div class="col"></div>
          <form class="col" method="post" action="/register">
          <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="mb-3">
            <label for="aqmID" class="form-label">aqm ID:</label>
            <input type="aqmID" class="form-control" id="aqmID" name="aqmID">
          </div>
          <div class="mb-3">
            <label for="aqmPassword" class="form-label">aqm Password</label>
            <input type="password" class="form-control" id="aqmPassword" name="aqmPassword">
          </div>
          
          <a class="btn btn-primary" href="/login">Login Page</a>
          <button type="submit" value="Login" class="btn btn-primary">Register</button>
        </form>
        <div class="col"></div>
        <div class="row">
      </div>
</body>
</html>